
<div class="navbar">
    <div>
        <i class="fa-solid fa-bars" (click)="showMobileMenu()"></i>
    </div>
    <div >
        <strong routerLink="/MainMenu">Logo</strong>
    </div>
    <div >
        <i class="fa-solid fa-user"></i>
    </div>
    
</div>

<div class="mobile-navbar-opts" >
    <div id="mobile-opts" class="abs" >
        <div  routerLink="/MainMenu"  class="opts">
            <a >Inicio</a>
        </div>
        <div  routerLink="/Delivery" class="opts">
            <a >Pedidos a domicilio</a>
        </div>
        <div  routerLink="/PendingDelivery" class="opts">
            <a >Delivery</a>
        </div>
    </div>
    
    
</div>

