<div>
    <div class="deliveryForm flex-col-c ">
        <h2>Pedidos a domicilio</h2>
        <br>
        <p>Información personal</p>
        
        <div class="cont">
            <input placeholder="Nombre" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="Telefono" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="Correo" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="Calle" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="Ciudad" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="No. Int" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="No. Ext" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="Colonia" class="formInput w-100">
        </div>
        <div class="cont">
            <input placeholder="CP" class="formInput w-100">
        </div>
        <br>
        <p>Especificaiones pedido</p>
        <br>
      
        <div class="cont">
            <select placeholder="Tipo de servicio" class="formInput w-100">
                <option>Tanque 20kg</option>
                <option>Tanque 20kg</option>
                <option>Tanque 20kg</option>
            </select>
        </div>
        <div class="cont">
            <select placeholder="Metodo de pago" class="formInput w-100">
                <option>Efectivo</option>
                <option>Tarjeta de credito</option>
            </select>
           
        </div>
        <div class="cont">
            <input placeholder="Comentarios" class="formInput w-100">
        </div>
        <br>
        <button class="btn btn-primary">Hacer pedido</button>
        <p></p>
        
    </div>
</div>
